@font-face {
	font-family: 'Nunito';
	src: url('Nunito-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-BlackItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-ExtraLightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Nunito';
	src: url('Nunito-SemiBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
}
