{
  "extends": [
    "@react-bootstrap",
    "4catalyzer-typescript",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/extensions": "off",
    "prettier/prettier": "warn",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-mixed-spaces-and-tabs": "off",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": [
          "x-placement"
        ]
      }
    ],
    "react/function-component-definition": "off"
  }
}